@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .log-img {
    display: none;
  }
}
@media only screen and (max-width: 415px) {
  .regis-link-btn > div {
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
  }
  .back_to_login {
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
  }
}
.text-about {
  padding: 22px;
}
.text-about > p > b:hover {
  cursor: pointer;
  color: rgb(243, 177, 11);
}
.text-about > p {
  font-weight: 400;
}
.text-about > h5 {
  font-weight: 600;
  letter-spacing: 2px;
  display: inline-block;
  border-bottom: 1px solid rgb(243, 177, 11);
  padding-bottom: 0.5rem;
  margin-bottom: 1.8rem;
}
.main {
  padding: 30px 22px !important;
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.log-img {
  background-image: url(/resouces/img/ads-login.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.log-btn {
  background-image: url(/resouces/img/login-img.bmp);
  background-size: contain;
  width: 20%;
  background-position: center;
  background-repeat: no-repeat;
}
.res_log-text {
  font-size: 25px;
  font-weight: 500;
}
.explain-text {
  font-size: 13px;
  margin-bottom: 1.5rem;
}
.id-write,
.pass-write {
  width: 75%;
}
.id,
.passw {
  font-size: 14px;
  font-weight: 500;
}
.line {
  margin-bottom: 1.5rem;
}
.forgot-pass-btn > a {
  text-decoration: none;
}
.hid_background,
.hid_background-resgis {
  width: 100%;
  height: 100%;
  background-color: #000100;
  opacity: 0.6;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0%;
  visibility: hidden;
  cursor: pointer;
}

.success_login,
.success_resgis {
  z-index: 1;
  visibility: hidden;
  height: 8rem;
  width: 16rem;
  background-color: aliceblue;
  text-align: center;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border: #000100 solid 1px;
  border-radius: 2px;
}
.welcome-text {
  font-weight: 500;
  padding-top: 5px;
}
.regis-link-btn > a {
  color: #000100;
  text-decoration: none;
}
.blue-text {
  color: #2f88db !important;
  text-decoration: none;
  cursor: pointer;
}
.regis-link-btn {
  margin-top: 1rem;
}

.main-regis {
  z-index: 3;
  display: none;
}
.main-login {
  z-index: 1;
}
.hidden {
  display: none;
}
.show {
  display: block;
}

.password-inp {
  padding: 0;
  position: relative;
  margin: 0;
}
.pass-writee {
  height: 100%;
  width: 100%;
}
.passw-icon {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  padding: 0.6rem;
  transform: translate(50%, -50%);
  cursor: pointer;
}
.passw-icon::before {
  font-size: 20px;
  opacity: 0.6;
}
.passw-icon > p {
  top: 50%;
  right: 1.25rem;
  transform: translate(50%, -50%);
  opacity: 1;
  font-size: 17px;
  position: absolute;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.show-background {
  visibility: visible;
}
